<h1>Editing User</h1>

<div class="actions">
  <%= render 'form', user: @user, class: 'btn btn-warning' %> |
  <%= link_to 'Show', @user, class: 'btn btn-secondary' %> |
  <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
</div>
